

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;	
}

body{
	text-align: center;
	background-color: #3B3f45;
	color: #FFFFFF;

}

.title{
	background-color: #696969;
	color: #DB7093;
	padding: 4px;
}